<div class="card px-l pt-l pb-xl">
  <div class="headline text-navy-60">
    <div class="nav-back mb-3" routerLink="/home">
      <fa-icon [icon]="['fas', 'arrow-left']" class="p-s"></fa-icon>
      <span class="ms-1 fw-bold fs-l">zurück</span>
    </div>
    <span class="fw-bold fs-xl">Arbeitgeber Übersicht</span>
  </div>
  <form [formGroup]="employerFormGroup" (ngSubmit)="save()" class="mt-5 text-navy-60">

    <span class="fw-bold">Name</span>
    <div class="row">
      <div class="pb-s col-6">
        <label for="employerName">Name</label>
        <input
          class="form-control"
          type="text"
          id="employerName"
          formControlName="employerName"
          required
        />
      </div>
    </div>

    <span class="fw-bold">Anschrift</span>
    <div class="row">
      <div class="pb-s col-2">
        <label for="employerCountry">Land</label>
        <ng-select
            [items]="countries"
            bindLabel="name"
            bindValue="id"
            [clearable]="false"
            formControlName="employerCountry"
          >
          </ng-select>
      </div>
      <div class="pb-s col-3">
        <label for="employerStreet">Straße</label>
        <input
          class="form-control"
          type="text"
          id="employerStreet"
          formControlName="employerStreet"
        />
      </div>
      <div class="pb-s col-1">
        <label for="employerStreetNumber">Hausnr.</label>
        <input
          min="1"
          class="form-control"
          type="number"
          id="employerStreetNumber"
          formControlName="employerStreetNumber"
        />
      </div>
    </div>
    <div class="row">
      <div class="pb-s col-3">
        <label for="employerLocation">Ort</label>
        <input
          class="form-control"
          type="text"
          id="employerLocation"
          formControlName="employerLocation"
        />
      </div>
      <div class="pb-s col-3">
        <label for="employerLocationCode">Postleitzahl</label>
        <input
          class="form-control"
          type="number"
          id="employerLocationCode"
          formControlName="employerLocationCode"
        />
      </div>
    </div>

    <span class="fw-bold">Kontakt</span>
    <div class="row">
      <div class="pb-s col-3">
        <label for="employerEmail">Email-Adresse</label>
        <input
          type="text"
          class="form-control"
          id="employerEmail"
          formControlName="employerEmail"
        />
      </div>
      <div class="pb-s col-3">
        <label for="employerTelefone">Telefonnummer</label>
        <input
          class="form-control"
          type="text"
          id="employerTelefone"
          formControlName="employerTelefone"
        />
      </div>
    </div>
    <div class="row">
      <div class="pb-s col-6">
        <label for="employerInternet">Internetseite</label>
        <input
          class="form-control"
          type="text"
          id="employerInternet"
          formControlName="employerInternet"
        />
      </div>
    </div>

    <span class="fw-bold">Weitere Informationen</span>
    <div class="row">
      <div class="pb-s col-6">
        <label for="employerIndustry">Branche</label>
        <ng-select
          [items]="industries"
          bindLabel="name"
          bindValue="id"
          [clearable]="false"
          formControlName="employerIndustry"
        >
        </ng-select>
      </div>
    </div>
    <div class="row">
      <div class="pb-l col-3">
        <label for="employeeCount">Anzahl der Mitarbeiter</label>
        <input
          class="form-control"
          type="number"
          id="employeeCount"
          formControlName="employeeCount"
        />
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]=""
    >
      Änderungen speichern
    </button>
  </form>
</div>
