@use '../libs/core/src/assets/utility/var.scss' as v;
@use '../libs/core/src/assets/utility/custom-bootstrap.scss';

@import '@ng-select/ng-select/themes/default.theme.css';

html,
body {
  height: 100%;
}

* {
  letter-spacing: 0.0225rem;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@import 'bootstrap/dist/css/bootstrap.css';
